body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  
}
.container{
    height: 100%;
     margin-left:500px;
    
}
.userlistbody{
    background-color:lightsteelblue;
    margin-top: -30px;
    display: flex;
}
h1{
    text-decoration:dotted;
    margin-bottom: 10px;
    margin-left: 40px;
    margin: 30px;
}
.inputbox{
    width: 200px;
    height: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
 
}

/* Search bar container */
.search-wrapperss {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 240px;
}

/* Input */
.search-input {
  flex: 1;
  padding: 10px;
  border: 1px solid black;
  border-radius: 6px 0 0 6px;
  outline: none;
  width: 100px;
  display: fixed;
}

/* Button */
.search-btn {
  padding: 10px 16px;
  background: #667eea;
  color: white;
  
  border-radius: 0 6px 6px 0;
  cursor: pointer;
  border: solid ;
}

.search-btn:hover {
  background: #5a67d8;
  
}



/* Full screen center  login screen */
.login-wrapper {
  /* min-height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f4f8;
}

/* Card */
.login-card {
  background: white;
  padding: 30px;
  width: 600px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  padding: 20px;
  background: blueviolet;

}

/* Title */
.login-card h2 {
  text-align: center;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  color:wheat;
  margin-bottom: 20px;
}

/* Inputs */
.input-group {
  margin-bottom: 15px;
  width:400px;
    margin-left:50px;
  
}

.input-group label {
  font-size: 14px;
  color: #333;
}

.input-group input {
  width: 100%;
  height: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

/* Button */
.login-btn {
  width: 250px;
  padding: 10px;
  background: #667eea;
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin-left:130px;
}

.login-btn:hover {
  background: #5a67d8;
}

/* Error */
.error {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

.welcome-message {
  text-align: center;
  font-size: 18px;
  color: wheat;
}
form{
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 20px;
    border-radius: 50px;
} 
